html, body {
    background-color: #2b2b2b;
}

a, a:visited, a:focus, a:hover{
    text-decoration: none;
}

small {
    margin-right: 1rem;
}

.container-fluid {
    max-width: 1600px;
    margin: auto;
    /*background-color: transparent;*/
}

.container {
    max-width: 1120px;
}

/*header css styles*/
/*header css styles*/

.mainHeader {
    background-color: #1d1d1d;
}

.mainHeader .container {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
}

a.navItem {
    color: #bbbbbb;
    padding: 1rem;
    border-radius: 0.25rem;
}

a.navItem:not(:last-child) {
    margin-right: 1rem;
}

a.navItem.cta {
    background-color: #f33a3a;
}

a.navItem:hover {
    background-color: #171717;
}

a.navItem.cta:hover {
    background-color: #e55c5c;
}

.activeNavItem {
    background-color: #171717;
}

/*all articles css styles*/
/*all articles css styles*/

.articlesContainer {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(21rem, auto));
    gap: 1rem;

}

.articleCard {
    padding: 1rem;
    height: 100%;
    border-radius: 0.5rem;
    background-color: #1d1d1d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Single article styles*/
/*Single article styles*/

.articleContainer {
    margin: 1rem 0;
    padding: 2rem 0;
}